@media only screen and  (min-width: 1200px) {
	
}

@media only screen and (max-width: 991px) {	
	.topOffer .offerbox {
        margin-bottom: 30px;
    }
    .topOffer .offerbox.lastOfferBox {
        margin-bottom: 0;
    }
    .footerBlock {
        margin-bottom: 40px;
    }    
    .projectContent .proBlock .blockImage img {
        height: 200px;
    }
    .projectContent .proBlock .proName {
        font-size: 18px;
    }
    .projectBanner .bannerContent {
        width: 85%;
    }
    .projectBanner .bannerContent h2 {
        font-size: 36px;
    }
    .projectBanner .bannerContent p {
        font-size: 15px;
    }
    .fullMenu {
        display: none;
        background-color: #3e516a;
        width: 40%;
        position: fixed;
        z-index: 99;
        height: 100vh;
        top: 0;
        right: 0;
        padding: 30px;
    }
    .mobileMenu {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 18px;
    }
    .mainHeader {
        padding: 10px 0;
    }
    .mainHeader .logo img {
        width: auto;
        height: 79px;
    }
    .mainHeader .logo {
        display: inline-block;
    }
    .iconWrap {
        display: none;
    }
    .fullMenu .mainMenu {
        padding-top: 60px;
    }
    .fullMenu .mainMenu li {
        display: block;
        margin-left: 0;
    }
    .fullMenu .mainMenu .sub-menu {
        display: none;
    }
    .fullMenu .mainMenu li:hover > .sub-menu {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
    .fullMenu .mainMenu li a {
        color: #ffffff;
        font-size: 22px;
        text-transform: capitalize;
        font-weight: 500;
        padding: 10px 0;
    }
    .fullMenu .mainMenu li a:hover {
        color: #000000;
    }
    .mainMenu li.hasChild > a:after {
        display: none;
    }
    .sideMenuIcon {
        height: 45px;
        width: 45px;
        padding: 5px;
        display: inline-block;
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 15px;
        z-index: 9;
    }
    .sideMenuIcon span {
        background-color: #ffffff;   
        display: block;
        height: 5px;
        margin: 5px 0;
        border-radius: 3px;
        position: relative;
    }
    .sideMenuIcon span:nth-child(1) {
        transform: rotate(45deg);
    }
    .sideMenuIcon span:nth-child(2) {
        transform: rotate(-45deg);
        top: -10px;
        left: 0px;
    }
}


@media only screen and (max-width: 771px) {
    .boxcont {
        padding: 15px;
    }
    .topOffer .offerbox {
        margin-bottom: 15px;
    }
    .newArrival .arrivalBox .proimage {
        height: 220px;     
    }
    .newArrival .arrivalBox h4, .proPrice, .btncart {     
        font-size: 15px;
    }
    .footerBlock.lsatfooterBlock {
        margin-bottom: 0;
    }
    .footer .footerTitle {
        margin-bottom: 25px;
    }
    .footer .footerList li a {
        padding: 4px 0;
    }
    .footer .footerContact {
        margin-bottom: 12px;
    }
    .footer {
        padding: 40px 0;
    }
    .ourProjects .projectBox .proImage {
        height: 210px;
    }
    .ourProjects .projectBox p {
        font-size: 15px;
    }
    .infoBanenr .infoImage {
        margin-bottom: 20px;
    }
    .infoBanenr .infoImage.lastinfoImage {
        margin-bottom: 0;
    }
    .spBannerContent {
        width: 70%;
        padding: 0 15px;
    }
    .spBannerContent h2 {
        font-size: 32px;
    }
    .spBannerContent p {
        font-size: 15px;
    }
    .spBContainer .projectThumbnail {
        height: 200px;
    }
    .fullMenu {
        width: 55%;
    }
    
    
}


@media only screen and (max-width: 551px) {
    .newArrival .arrivalBox .proimage {
        height: 300px;
    }
    .infoBanenr .offerContent h3 {
        font-size: 28px;
    }
    .topOffer .offerContent h3 {
        font-size: 28px;
    }
    .infoBanenr .offerContent .info {
        font-size: 15px;
        width: 100%;
    }
    .title h2 {
        font-size: 36px;
        position: relative;
    }
    .title h2:after {
        content: '';
        background-color: #3e516a;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: -9px;
        width: 100px;
    }
    .footer .footerList li a, 
    .abtInfo , 
    .footer .footerContact span{
        font-size: 14px;
    }
    .footer .footerTitle {
        font-size: 24px;
    }
    .footer .footerTitle:after {
        width: 60px;
    }
    .footer .footerLogo {
        text-align: center;
    }
    .projectBanner {
        height: 450px;
    }
    .projectBanner .bannerContent h2 {
        font-size: 33px;
        margin-bottom: 20px;
    }
    .projectBanner .bannerContent, 
    .spBannerContent {
        width: 100%;
        padding: 0 15px;
    }
    .spBannerContent h2 {
        font-size: 28px;
    }
    .spBannerContent p {
        font-size: 14px;
    }
    .spBContainer .projectThumbnail {
        height: 180px;
    }
    .fullMenu {
        width: 65%;
    }
}