@media only screen and  (min-width: 1200px) {
	
}
@media only screen and  (max-width: 1200px) {
    .siteheader .topsearch {
        border: 1px solid #ebebeb;
        border-radius: 25px;
        margin: 0 auto;
        margin-top: 0;
    }

    .siteheader .topsearch select {
        border: 0;
        border-radius: 0px;
        padding-left: 0;
        width: 28%;
        font-size: 14px;
        display: inline-block !important;
    }

    .siteheader .topsearch .searchajax {
        display: inline-block;
        width: 70%;
    }
    .siteheader .topsearch input[type="text"] {
        width: 240px;
        min-width: auto;
    }
    .ourteam .teambox .imgthumbnail {
        width: 200px;
        height: 200px;
    }
    .shopcontent .shopfilter .sortpro select {
        width: 100%;
    }
    .filterfield .formcontrol {
        width: 33%;
        margin-bottom: 5px;
    }
    .btnfsubmit {
        width: 33%;   
        margin-left: 0;
        margin-right: 0;
    }

}

@media only screen and (max-width: 991px) {	
	.featured .fbox {
        margin-bottom: 30px;
    }
    .footer .footerbox {
        margin-bottom: 30px;
    }
    .testimonails .tbox {
        width: 85%;
    }
    .topsearch, .mdn {
        display: none;
    }
    .homebanner .bannercontent {
        width: 100%;
        padding: 0 20px;
    }
    .ourteam .teambox {
        margin-bottom: 40px;
    }
    .contactwrap .contactinfo {
        padding-left: 30px;
    }
    .contactform {
        margin-bottom: 40px;
    }
    .shopcontent .shopfilter .sortpro select {
        width: 100%;
    }

    .ddn{
        display: block;
    }
    .siteheader, 
    .innerheader {
        position: relative;
        padding: 10px 0 10px 0 !important;
    }
    .menuwrap,
    .innerheader .menuwrap{
        margin: 0;
        border: 0;
        text-align: left;
        width: 40%;
        position: fixed;
        z-index: 99;
        height: 100vh;
        top: 0;
        left: 0;
        padding: 20px;
        background: #212121;
        display: none;
    }
    .menuwrap .mainmenu li {
        display: block;
        position: relative;
        padding: 7px 0;
    }
     .menuwrap .mainmenu li a{
        color: #EA7127;
     }
     .closeme {
        display: inline-block;
     }
     .menuwrap .mainmenu {
        padding: 0;
        margin: 30px 0 0px 0;
    }
    .menuwrap .mainmenu ul{
        display: none;
    }
    .menuwrap .mainmenu li.hasChild:hover > ul {
        display: none;
    }
    .menuwrap .dropdown {
        display: block;
        position: relative;
        width: 100%;
        background: transparent;
        box-shadow: none;
        border: 0;
    }
    .menuwrap .mainmenu li.hasChild {
        padding: 0 40px 0 0px;
        position: relative;
    }
    .toggleSubMenu {
        display: inline-block;
        color: #EA7127;
        top: 0;
        position: absolute;
        right: 0;
        height: 23px;
        width: 23px;
        text-align: center;
        cursor: pointer;
        z-index: 9;
    }
    .menuwrap .dropdown li {
        padding: 0;
    }
    .innerheader .innermenumain{
        display: block;
    }
    .siteheader .logo img {
        height: auto;
        width: 100%;
    }

    .pagebanner:after {
        content: '';
        background: rgba(0,0,0,0.5);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }
    .pagebanner .bannercontent {
        z-index: 9;
        width: 100%;
        text-align: center;
    }
    .filterfield .formcontrol {
        width: 32%;
        margin-bottom: 5px;
    }
     .btnfsubmit {
        width: 32%;   
        margin-left: 0;
        margin-right: 0;
    }

 
}


@media only screen and (max-width: 771px) {
   .homebanner .bannercontent h2 {
    margin-bottom: 15px;
    font-size: 36px;
   }
   .contactwrap .contactinfo {
       padding-left: 0px;
    }
    .menuwrap,
    .innerheader .menuwrap {
        width: 55%;
    }
    .mobilemenu {
        top: 10px;
    }
    .siteheader .topcart {
        margin-top: 10px;
    }
    .vendorcontent .filterright {
        position: relative;
        width: 100%;
        text-align: left;
        margin-top: 12px;
    }
    .filterfield .formcontrol {
        width: 49%;
        margin-bottom: 5px;
    }
     .btnfsubmit {
        width: 49%;   
        margin-left: 0;
        margin-right: 0;
    }

    
}


@media only screen and (max-width: 551px) {
    .sociallist {
        text-align: center;
        margin-top: 15px;
    }
    .copyright .copytxt {
        text-align: center;
    }
    .testimonails .tbox {
        width: 100%;
    }
    .topsearch {
        display: none;
    }
    .menuwrap,
    .innerheader .menuwrap {
        width: 65%;
    }
}