/*================================
1. Header
================================*/

ul,
li,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
section,
img,
aside,
header,
footer {
    padding: 0;
    margin: 0;
    transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -o-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    outline: none;
}
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Jost', sans-serif;
    font-family: 'Fira Code', monospace;
}
@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}
a{
    color: #EA7127
}
a:hover{
    color: #282828;
}
li{
    list-style-type:none;
}
select, input, a, button {
    outline: none;
}

/* ==================
HEADER
================== */
.siteheader {
    position: relative;
    padding: 30px 0 0 0;
}
.siteheader .logo {}
.siteheader .logo a{}
.siteheader .logo img{
    height: 65px;
}
.siteheader .topsearch {
    border: 1px solid #ebebeb;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 5px;
}
.siteheader .topcart {
    text-align: right;
    margin-top: 20px;
}

.siteheader .topsearch select {
    display: inline-block !important;
    border: 0;
    border-radius: 30px;
    padding-left: 24px;
    width: 190px;
    font-size: 15px;
}
.siteheader .topsearch .searchajax {
    display: inline-block;
    /*max-width: calc(100% - 190px);
    width: 100%;*/
}
.siteheader .topsearch input[type="text"]{
    min-width: 305px;
    outline: none;
    padding-left: 20px;
    border-width: 0 0 0 1px;
    visibility: visible;
    top: 0;
    line-height: 50px;
    height: auto;
    border-radius: 0 30px 30px 0;
    border-left: 1px solid #ebebeb;
}
.siteheader .topsearch button{
    top: 0;
    line-height: 40px;
    min-width: 105px;
    width: auto;
    border-radius: 30px;
    margin: 5px;
    color: #fff !important;
    font-size: 14px;
    background-color: #EA7127;
    border: none;
    outline: none;
    text-transform: uppercase;
    transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -o-transition: all .25s cubic-bezier(.455,.03,.515,.955);
}
.siteheader .topsearch button:hover{
    background-color: #282828;
    transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -o-transition: all .25s cubic-bezier(.455,.03,.515,.955);
}
.siteheader .topcart .topshopcart {
    position: relative;
}
.siteheader .topcart .topshopcart li{
    list-style-type: none;
    display: inline-block;
    padding: 0 0 0 28px;
}

.topshopcart ul.dropdown-list {
    width: 200px;
    position: absolute;
    top: 25px;
    right: 0;
    background: #ffffff;
    z-index: 9;
    border-top: 1px solid #EA7127;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 4px 13px -3px #808080;
}
.topshopcart ul.dropdown-list li{}
.topshopcart ul.dropdown-list li a{
    color: #666666;
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: 11px 0;
    border-bottom: 1px solid #ccc;
}
.topshopcart ul.dropdown-list li:last-child a {
    border: 0;
}
.topshopcart ul.dropdown-list li a:hover{
    text-decoration: none;
    color: #EA7127;
}
.topshopcart ul.dropdown-list li i.fa{}

.siteheader .topcart .topshopcart li .carticon {
    text-decoration: none;
    position: relative;
    color: #262626;
}
.siteheader .topcart .topshopcart li .carticon:after{
    content: "\f291";
    font-family: "Fontawesome";
    font-size: 14px;
    margin-right: 5px;
    color: #262626;
    line-height: 28px;
}
.siteheader .topcart .topshopcart li .carticon .total-cart {
    background-color: #EA7127;
    top: -13px;
    position: absolute;
    color: #fff;
    /*background: #82b53f;*/
    padding: 6.5px;
    line-height: 7px;
    border-radius: 50%;
    margin-left: 0;
    font-size: 12px;
    right: -9px;
}
.siteheader .topcart .topshopcart li .droplist {
    display: inline-block;
    position: relative;
    top: 6px;
}
.siteheader .topcart .topshopcart li .droplist span{
    font-size: 14px;
    width: 14px;
    height: 2px;
    transition: all .8s;
    position: relative;
    display: inline-block;
    background: #333;
    display: block;
    margin: 3px 0;
}
.siteheader .topcart .dropicon:hover > .droplist span{
    background: #282828;
}
.siteheader .topcart .topshopcart ul {
    display: none;
}
.siteheader .topcart .topshopcart li:hover > ul {
    display: inline-block;
}

.menuwrap {
    border-top: 1px solid #ebebeb;
    padding: 20px 0;
    text-align: center;
    margin-top: 30px;
}
.menuwrap .mainmenu {
    padding: 0;
    margin: 0;
}
.menuwrap .mainmenu li {
    display: inline-block;
    position: relative;
    padding: 7px 0;
}
.menuwrap .mainmenu li a {
    text-decoration: none;
    color: #444444;
    display: block;
    padding: 0 15px;
    font-weight: 500;
}
.menuwrap .mainmenu li a:hover {
    color: #f69e22;
    text-decoration: none;
}
.menuwrap .mainmenu ul {
    display: none;
}
.menuwrap .mainmenu li.hasChild:hover > ul {
    display: inline-block;
}
.menuwrap .dropdown {
    min-width: 180px;
    position: absolute;
    top: 100%;
    left: 17px;
    background: #ffffff;
    z-index: 9;
    border-top: 1px solid #EA7127;
    padding: 10px 15px;
    text-align: center;
    box-shadow: 0px 4px 13px -3px #808080;
    text-align: left;
}
.menuwrap .dropdown li {
    display: block;
    padding: 0;
    margin:0;
}
.menuwrap .dropdown li a{
    display: block;
    padding: 5px 0;
}
.menuwrap .dropdown li a:hover{}
.innerheader .menuwrap {
    margin-top: 0;
    border: 0;
    position: relative;
    top: -5px;
}
.siteheader.innerheader {
    padding: 10px 0 0 0;
}





/*==============
Home - Banner
===============*/
.homebanner {
    position: relative;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 500px;
}
.homebanner .bannercontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.homebanner .bannercontent h2 {
    text-transform: uppercase;
    font-size: 58px;
    color: #ffffff;
    font-weight: 900;
    font-family: 'Lobster', cursive;
    letter-spacing: 4.2px;
}
.homebanner .bannercontent h4 {
    text-transform: uppercase;
    font-size: 32px;
    color: #ffffff;
}
.homebanner .bannercontent p {
    color: #ffffff;
    margin: 15px 0;
    font-size: 18px;
}
.btnshop {
    display: inline-block;
    text-align: center;
    line-height: 40px;
    padding: 0 21px;
    border-radius: 30px;
    margin: 5px;
    color: #fff;
    font-size: 16px;
    background-color: #EA7127;
    border: none;
    outline: none;
    text-transform: uppercase;
    transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -o-transition: all .25s cubic-bezier(.455,.03,.515,.955);
}
.btnshop:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #282828;
    transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -o-transition: all .25s cubic-bezier(.455,.03,.515,.955);
}


/*=====================
HOME - Featured Boxes
======================*/
.featured {
    position: relative;
    padding: 50px 0;
}
.featured .fbox {
    position: relative;
    height: 350px;
}
.featured .fbox img {
    height: 100%;
    width: 100%;
    object-position: top;
    object-fit: cover;
}
.featured .fbox .finfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0px 16px;
    z-index: 9;
}
.featured .fbox:after {
    content: '';
    background: rgba(0,0,0,0.35);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.featured .fbox .finfo  h3 {
    color: #ffffff;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
}
.featured .fbox .finfo  p {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
}



/*=====================
HOME - Featured Product
======================*/
.sectiontitle {
    text-align: center;
    margin-bottom: 30px;
}
.sectiontitle .line{
    display: inline-block;
    height: 1px;
    width: 80px;
    background-color: #EA7127;
}
.sectiontitle h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #212121;
    font-family: 'Lobster', cursive;
    letter-spacing: 4.2px;
}
.sectiontitle .sub {
    font-style: italic;
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}
.featuredProduct {
    position: relative;
    padding: 50px 0 50px 0;
}
.featuredProduct .probox {
    position: relative;
    border: 1px solid #efefef;
    padding: 3px;
    border-radius: 4px;
}
.featuredProduct .probox:hover{
    border-color: rgba(128, 128, 128, 0.15);
    box-shadow: 0px 1px 10px 6px rgba(128, 128, 128, 0.15);
}
.featuredProduct .probox a {
    display: block;
    text-decoration: none;
}
.featuredProduct .probox .thumbnail{
    position: relative;
    height: 280px;
}
.featuredProduct .probox .thumbnail img{
    height: 100%;
    width: 100%;
    object-position: top;
    object-fit: cover;
}
.featuredProduct .proinfo {
    text-align: center;
    padding: 5px;
    height: 110px;
}
.featuredProduct .proinfo h4{
    font-size: 15px;
    color: #333;
    margin-bottom: 8px;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
} 
.featuredProduct .proinfo .price{
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 700;
} 
.featuredProduct .proinfo .price .discounted{
    display: inline-block;
    margin-right: 7px;
    text-decoration: line-through;
    color: #cccccc;
}
.featuredProduct .proinfo .price .sellprice{}
.featuredProduct .proinfo .rating {
    font-size: 11px;
    margin-bottom: 8px;
}
.featuredProduct .proinfo .rating i.fa{}
.featuredProduct .probox .thumbnail .sale {
    background-color: #EA7127;
    position: absolute;
    right: 5px;
    left: auto;
    top: 5px;
    color: #fff;
    min-height: 25px;
    line-height: 25px;
    padding: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    min-width: 45px;
    height: auto;
    clear: both;
    font-size: 13px !important;
    font-weight: normal;
    text-align: center;
}
.featuredProduct .metalinks{
    text-align: center;
    display: none;
    height: 110px;
    padding-top: 8px;
}
.featuredProduct .metalinks .icon{
    display: inline-block;
    background-color: #cccccc;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -o-transition: all .25s cubic-bezier(.455,.03,.515,.955);
}
.featuredProduct .metalinks .icon:hover {
    background-color: #EA7127;
    transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -o-transition: all .25s cubic-bezier(.455,.03,.515,.955);
}
.featuredProduct .metalinks .icon i.fa{
    color: #333;
}
.featuredProduct .metalinks .icon:hover i.fa{
    color: #ffffff;
}
.featuredProduct .probox:hover > .proinfo .prometa  {
    display: none;
}
.featuredProduct .probox:hover > .proinfo .metalinks  {
    display: block;
}



/*=====================
OUR TESTIMONIALS
====================*/
.testimonails{
    position: relative;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 400px;
    margin: 50px 0;
    padding: 50px 0 20px 0;
}
.testimonails .tbox {
    min-height: 180px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    width: 70%;
    display: inline-block;
    padding: 20px;
    position: relative;
    text-align: center;
}
.testimonails .tinfo {
    text-align: center;    
}
.testimonails .tbox:after {
    content: '';
    border: 1px solid #EA7127;
    position: absolute;
    width: 98%;
    height: 91%;
    left: 1%;
    top: 4%;
}
.testimonails .tbox .icomma {
    color: #EA7127;
    display: inherit;
    padding: 5px;
    font-size: 36px;
    position: absolute;
    left: 50%;
    top: 4px;
    transform: translate(-50%, -50%);
}
.testimonails .tbox .text {
    color: #444;
    font-size: 14px;
    position: relative;
    width: 100%;
    padding: 40px 40px;
    font-weight: 500;
    margin-bottom: 29px;
}
.testimonails .tuserinfo {
    text-align: center;
    position: relative;
    margin-top: -61px;
}
.testimonails .tuserinfo .avatar{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}
.testimonails .tuserinfo .avatar img{
    height: 100%;
    width: 100%;
    object-position: top;
    object-fit: cover;
}
.testimonails .tuserinfo h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 5px;
    text-align: center;
}
.testimonails .tuserinfo .trating {    
    text-align: center;
    font-size: 14px;
    color: #EA7127;
}
.testimonails .testimonailslider .item {
    padding-top: 15px;
}

/*=====================
Client Logo
====================*/
.clientlogo {
    position: relative;
    padding: 10px 0 50px 0;
}
.clientlogo .clientslider .owl-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.clientlogo .clientslider a{
    display: block;
    height: 110px;
}


/*=====================
FOOTER
====================*/
.footer{
    position: relative;
    background-color: #ffffff;    
    min-height: 300px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 40px 0;
}
.footer .fborder {
    /*border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding-top: 40px;
    padding-bottom: 40px;*/
}
.footer .footerbox {}
.footer .footerbox h3{
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}
.footer .footeraddress {}
.footer .footeraddress ul{}
.footer .footeraddress ul li{
    color: #666666;
    padding: 8px 0 8px 30px;
    position: relative;    
}
.footer .footeraddress ul li a{
    color: #666666;
    text-decoration: none;
    display: block;
}
.footer .footeraddress ul li i.fa {
    position: absolute;
    left: 0;
    top: 11px;
}
.footer .footeraddress ul li a:hover {
    color: #EA7127;
}

.footer .footerlist {
    position: relative;
}
.footer .footerlist li{
    color: #666666;
    padding: 8px 0 8px 20px;
    position: relative; 
}
.footer .footerlist li:before {
    content: '';
    height: 8px;
    width: 8px;
    background-color: #EA7127;
    position: absolute;
    top: 16px;
    border-radius: 50%;
    left: 0px;

}
.footer .footerlist li a{
    color: #666666;
    text-decoration: none;
}
.footer .footerlist li a:hover{
    color: #EA7127;
    text-decoration: none;
}
.footer .openhours  {}
.footer .openhours  p{
    margin: 8px 0;
}

.copyright {
    padding: 20px 0;
}
.copyright .copytxt{
    font-size: 13px;
}
.sociallist {
    text-align: right;
}
.sociallist li{
    list-style-type: none;
    display: inline-block;
    padding-left: 3px;
}
.sociallist li a{
    text-decoration: none;
    height: 30px;
    width: 30px;
    text-align: center;
    display: inline-block;
    line-height: 30px;
    border-radius: 50%;
    color: #ffffff;
}
.sociallist li a i.fa{}
.facebook {
    background-color: #3b5998;
}
.twitter {
    background-color: #00acee;
}
.linkedin {
    background-color: #0e76a8;
}
.youtube {
    background-color: #FF0000;
}
.instagram {
    background-color: #3f729b ;
}


/*======================
Page Banner
======================*/
.pagebanner {
    position: relative;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 250px;
}
.pagebanner .bannercontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pagebanner .pagebreadcomb {

}
.pagebanner .pagebreadcomb li{
    color: #EA7127;
    text-transform: uppercase;
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    padding: 0 15px;
}
.pagebanner .pagebreadcomb li a{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
    font-weight: 700;
    position: relative;
}
.pagebanner .pagebreadcomb li a:after {
    content: "/";
    color: #fff;
    position: absolute;
    right: -29px;
    font-size: 26px;
    top: 1px;
}
.pagebanner .pagebreadcomb li a:hover{
    color: #EA7127;
    text-transform: uppercase;
    text-decoration: none;
}



/*=================
Our Story
=================*/
.maincontent {
    padding: 40px 0;
}
.ourstory {
    position: relative;
}
.ourstory .storycontent{
    font-size: 15px;
}
.ourstory .storycontent p{
    margin-bottom: 10px;
}
.ourstory .storyimage{
    height: 300px;
}
.ourstory .storyimage img{
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}
.outvision {
    padding-top: 70px;
}

/*====================
Our Team
=====================*/
.ourteam {
    padding-top: 70px;
    padding-bottom: 40px;
    position: relative;
}
.ourteam .teambox {
    text-align: center;
}
.ourteam .teambox .imgthumbnail{
   height: 250px;
    width: 250px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
}
.ourteam .teambox .imgthumbnail img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}
.ourteam .teambox h3{
    color: #212121;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.ourteam .teambox p{
    color: #666666;
    font-size: 13px;
}
.ourteam .socialist{
    margin-top: 10px;
}
.ourteam .socialist li{
    display: inline-block;
}
.ourteam .socialist li a {
    text-decoration: none;
    display: block;
    color: #666666;
    font-size: 16px;
    height: 30px;
    width: 30px;
    background-color: transparent;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}
.ourteam .socialist li a:hover{
    color: #ffffff;
    background-color: #EA7127;
}


/*==================
SHOP
=================*/
.shopcontent {
    padding: 50px 0;
}
.shopcontent .products {
    position: relative;
}
.products .probox {
    position: relative;
    border: 1px solid #efefef;
    padding: 3px;
    border-radius: 4px;
    margin-bottom: 30px;
}
.products .probox:hover{
    border-color: rgba(128, 128, 128, 0.15);
    box-shadow: 0px 1px 10px 6px rgba(128, 128, 128, 0.15);
}
.products .probox a {
    display: block;
    text-decoration: none;
}
.products .probox .thumbnail{
    position: relative;
    height: 280px;
}
.products .probox .thumbnail img{
    height: 100%;
    width: 100%;
    object-position: top;
    object-fit: cover;
}
.products .proinfo {
    text-align: center;
    padding: 5px;
    height: 110px;
}
.products .proinfo h4{
    font-size: 15px;
    color: #333;
    margin-bottom: 8px;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
} 
.products .proinfo .price{
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 700;
} 
.products .proinfo .price .discounted{
    display: inline-block;
    margin-right: 7px;
    text-decoration: line-through;
    color: #cccccc;
}
.products .proinfo .price .sellprice{}
.products .proinfo .rating {
    font-size: 11px;
    margin-bottom: 8px;
}
.products .proinfo .rating i.fa{}
.products .probox .thumbnail .sale {
    background-color: #EA7127;
    position: absolute;
    right: 5px;
    left: auto;
    top: 5px;
    color: #fff;
    min-height: 25px;
    line-height: 25px;
    padding: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    min-width: 45px;
    height: auto;
    clear: both;
    font-size: 13px !important;
    font-weight: normal;
    text-align: center;
}
.products .metalinks{
    text-align: center;
    display: none;
    height: 110px;
    padding-top: 8px;
}
.products .metalinks .icon{
    display: inline-block;
    background-color: #cccccc;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -o-transition: all .25s cubic-bezier(.455,.03,.515,.955);
}
.products .metalinks .icon:hover {
    background-color: #EA7127;
    transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -o-transition: all .25s cubic-bezier(.455,.03,.515,.955);
}
.products .metalinks .icon i.fa{
    color: #333;
}
.products .metalinks .icon:hover i.fa{
    color: #ffffff;
}
.products .probox:hover > .proinfo .prometa  {
    display: none;
}
.products .probox:hover > .proinfo .metalinks  {
    display: block;
}

.shopcontent .shopfilter {
    margin-bottom: 40px;
    border: 1px solid #e5e5e5;
    padding: 2px 7px;
    height: 50px;
    line-height: 45px;
}
.shopcontent .shopfilter .viewlist {}
.shopcontent .shopfilter .viewlist a{
    color: #212121;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
}
.shopcontent .shopfilter .viewlist a:hover {
    text-decoration: none;   
}
.shopcontent .shopfilter a.active {
    color: #EA7127;
}
.shopcontent .shopfilter .viewlist .gridview{}
.shopcontent .shopfilter .viewlist .listview{}
.shopcontent .shopfilter .showingpro {
    color: #666666;
    font-weight: 500;
    text-align: center;
}
.shopcontent .shopfilter .sortpro select {
    color: #666666;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    height: 34px;
    position: relative;
    top: -2px;
}
.paginationwrap {
    margin-top: 40px;
    text-align: center;
}
.paginationlist {
    display: inline-block;
}
.paginationlist li{
    display: inline-block;
}
.paginationlist li a{
    font-size: 15px;
    padding: 0 11px;
    min-height: 30px;
    min-width: 30px;
    line-height: 30px;
    margin: 0;
    margin-right: -1px;
    text-align: center;
    display: inline-block;
    border: 1px solid #e5e5e5;
    position: relative;
    color: #666;
    text-decoration: none;
}
.paginationlist li a:hover {
    background-color: #EA7127;
    border: 1px solid #EA7127;
    color: #ffffff;
}
.paginationlist li span {
    font-size: 15px;
    padding: 0 11px;
    min-height: 30px;
    min-width: 30px;
    line-height: 30px;
    margin: 0;
    margin-right: -1px;
    text-align: center;
    display: inline-block;
    border: 1px solid #e5e5e5;
    position: relative;
    color: #666;
}
.prosidebar {
    border: 1px solid #e5e5e5;
    min-height: 300px;
    padding: 9px;
}
.prosidebar .sidebarwidget{
    margin-bottom: 40px;
}
.mrginbotnone {
    margin-bottom: 0 !important;
}
.prosidebar .sidebarwidget h3{
    color: #212121;
    text-transform: uppercase;
    display: block;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 15px;
}
.prosidebar ul {}
.prosidebar ul li{}
.prosidebar ul li a{
    text-decoration: none;
    color: #212121;
    text-transform: uppercase;
    display: block;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 0;
    border-bottom: 1px solid #e5e5e5;
}
.prosidebar ul li a:hover {
    color: #EA7127;
}
.prosidebar ul li:last-child a {
    border: none;
}
.pricebtn {
    background-color: #EA7127;
    border: 1px solid #EA7127;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    outline: none;
    width: 100%;
    font-size: 15px;
    padding: 5px 0;
    margin: 10px 0 6px 0;
}
.pricebtn:hover {
    background-color: #212121;
    border: 1px solid #212121;
}
.lblprice {
    margin-top: 10px;
}
.pricerange {
    width: 100%;
}
.tagcloud {}
.tagcloud a {
    padding: 5px 7px;
    background-color: #cccccc;
    margin: 0 3px 8px 0px;
    text-decoration: none; 
    display: inline-block;
    color: #212121;
    border-radius: 20px;
    font-size: 12px;
}
.tagcloud a:hover {
    text-decoration: none; 
    background-color: #EA7127;
    color: #ffffff;
}

/*======================
Vendor Content
=======================*/
.vendorcontent {
    position: relative;
    padding: 50px 0;
}
.vendorcontent .vendorfilter {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 1px 1px 20px 0px #E9E9E9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.vendorcontent .vendorfilter .showing{
    color: #666666;
    font-size: 15px;
    font-weight: 500;
}

.allvendor {
    position: relative;
}
.allvendor .vendorcard{
    box-shadow: 1px 1px 20px 0px #E9E9E9;
    margin-bottom: 30px;
    position: relative;
}
.allvendor .vendorcard .imgwrp {
    height: 320px;
    width: 100%;
    position: relative;
}
.allvendor .vendorcard .imgwrp img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.allvendor .vendorcard .imgwrp:after{
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.allvendor .vendorinfo {
    color: #ffffff;
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
}
.allvendor .vendorinfo h4 {
    margin-bottom: 15px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}
.allvendor .vendorinfo a{
    display: block;
    text-decoration: none;
    color: #ffffff;
}
.allvendor .vendorlink {
    min-height: 50px;
    line-height: 50px;
    padding: 10px 15px;
}
.allvendor .vendorlink a{
    color: #ffffff;
    background-color: #EA7127;
    text-decoration: none;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-transform: uppercase;
    font-size: 44px;
    display: inline-block;
    text-align: center;
}
.allvendor .avaitar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    border: 5px solid #fff;
    position: absolute;
    bottom: 30px;
    right: 20px;
    box-shadow: 0px 0px 30px -6px #afafaf;
}
.allvendor .avaitar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.allvendor .paginationwrap{
    margin-bottom: 40px;
}

/*====================
Services
=====================*/
.serviceswrap {
    padding: 50px 0;
    position: relative;
}
.serviceswrap .serviceImage {
    height: auto;
    width: 100%;
    overflow: hidden;
}
.serviceswrap .serviceImage img{
     height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.serviceswrap .serviceinfo {
    padding: 30px;
    background: #f1f7fc;
}
.serviceswrap .serviceinfo h2{
    text-transform: uppercase;
    color: #212121;
    font-size: 28px;
    margin-bottom: 20px;
}
.serviceswrap .serviceinfo p{
    color: #666666;
}
.serviceswrap .flex {
    display: flex;
}
.serviceswrap .bg {
    background: #f1f7fc;
}
.serviceswrap .padd0 {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.serviceswrap .container .row {
    margin-bottom: 30px;
}

/*====================
Contact Us
=====================*/
.contactwrap {
    position: relative;
    padding: 50px 0;
}
.contactform {}
.contactform label{
    font-weight: 500;
}
.contactform .form-control {
    height: 45px;
}
.contactform  .btncontact {
    top: 0;
    line-height: 40px;
    min-width: 125px;
    padding: 5px 25px;
    width: auto;
    border-radius: 30px;
    margin: 5px;
    color: #fff !important;
    font-size: 15px;
    background-color: #EA7127;
    border: none;
    outline: none;
    text-transform: uppercase;
    transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -o-transition: all .25s cubic-bezier(.455,.03,.515,.955);
}
.contactform  .btncontact:hover {
    background-color: #282828;
    transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -o-transition: all .25s cubic-bezier(.455,.03,.515,.955);
}
.contactwrap .contactinfo {
    text-align: center;
    padding-left: 100px;
}
.contactwrap .contactcard {
    position: relative;
    padding-left: 50px;
    text-align: left;    
    margin-bottom: 50px;
}
.contactwrap .contactcard i.fa {
    position: absolute;
    font-size: 36px;
    left: 0px;
    top: -6px;
    color: #EA7127;
}
.contactwrap .contactcard span {
    font-size: 16px;
    font-weight: 500;
}
.contactmap {
    margin-bottom: 40px;
}
.contactmap iframe{
    width: 100%;
}