/*================================
1. Header
================================*/

ul,
li,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
section,
img,
aside,
header,
footer {
    padding: 0;
    margin: 0;
    transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -o-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    outline: none;
}
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Jost', sans-serif;
    font-family: 'Fira Code', monospace;
}
@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}
a{
    color: #f2c010
}
a:hover{
    color: #282828;
}
li{
    list-style-type:none;
}
select, input, a, button {
    outline: none;
}

/* ==================
HEADER
================== */
.siteheader {
    position: relative;
    padding: 30px 0 0 0;
}
.siteheader .logo {}
.siteheader .logo a{}
.siteheader .logo img{
    height: 65px;
}
.siteheader .topsearch {
    border: 1px solid #ebebeb;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 5px;
}
.siteheader .topcart {
    text-align: right;
    margin-top: 20px;
}

.siteheader .topsearch select {
    display: inline-block !important;
    border: 0;
    border-radius: 30px;
    padding-left: 24px;
    width: 190px;
    font-size: 15px;
}
.siteheader .topsearch .searchajax {
    display: inline-block;
    /*max-width: calc(100% - 190px);
    width: 100%;*/
}
.siteheader .topsearch input[type="text"]{
    min-width: 305px;
    outline: none;
    padding-left: 20px;
    border-width: 0 0 0 1px;
    visibility: visible;
    top: 0;
    line-height: 50px;
    height: auto;
    border-radius: 0 30px 30px 0;
    border-left: 1px solid #ebebeb;
}
.siteheader .topsearch button{
    top: 0;
    line-height: 40px;
    min-width: 105px;
    width: auto;
    border-radius: 30px;
    margin: 5px;
    color: #fff !important;
    font-size: 14px;
    background-color: #f2c010;
    border: none;
    outline: none;
    text-transform: uppercase;
    transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -o-transition: all .25s cubic-bezier(.455,.03,.515,.955);
}
.siteheader .topsearch button:hover{
    background-color: #282828;
    transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -o-transition: all .25s cubic-bezier(.455,.03,.515,.955);
}
.siteheader .topcart .topshopcart {}
.siteheader .topcart .topshopcart li{
    list-style-type: none;
    display: inline-block;
    margin: 0 12px;
}

.siteheader .topcart .topshopcart li .carticon {
    text-decoration: none;
    position: relative;
    color: #262626;
}
.siteheader .topcart .topshopcart li .carticon:after{
    content: "\f291";
    font-family: "Fontawesome";
    font-size: 14px;
    margin-right: 5px;
    color: #262626;
    line-height: 28px;
}
.siteheader .topcart .topshopcart li .carticon .total-cart {
    background-color: #f2c010;
    top: -13px;
    position: absolute;
    color: #fff;
    /*background: #82b53f;*/
    padding: 6.5px;
    line-height: 7px;
    border-radius: 50%;
    margin-left: 0;
    font-size: 12px;
    right: -9px;
}
.siteheader .topcart .topshopcart li .droplist {
    display: inline-block;
    position: relative;
    top: 6px;
}
.siteheader .topcart .topshopcart li .droplist span{
    font-size: 14px;
    width: 14px;
    height: 2px;
    transition: all .8s;
    position: relative;
    display: inline-block;
    background: #333;
    display: block;
    margin: 3px 0;
}


.menuwrap {
    border-top: 1px solid #ebebeb;
    padding: 20px 0;
    text-align: center;
    margin-top: 30px;
}
.menuwrap .mainmenu{
    padding: 0;
    margin: 0;
}
.menuwrap .mainmenu li {
    display: inline-block;
}
.menuwrap .mainmenu li a {
    text-decoration: none;
    color: #444444;
    display: block;
    padding: 0 15px;
    font-size: 500;
}
.menuwrap .mainmenu li a:hover {
    color: #f69e22;
    text-decoration: none;
}


/*==============
Home - Banner
===============*/
.homebanner {
    position: relative;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 500px;
}
.homebanner .bannercontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.homebanner .bannercontent h2 {
    text-transform: uppercase;
    font-size: 58px;
    color: #ffffff;
    font-weight: 900;
}
.homebanner .bannercontent h4 {
    text-transform: uppercase;
    font-size: 32px;
    color: #ffffff;
}
.homebanner .bannercontent p {
    color: #ffffff;
    margin: 15px 0;
    font-size: 18px;
}
.btnshop {
    display: inline-block;
    text-align: center;
    line-height: 40px;
    padding: 0 21px;
    border-radius: 30px;
    margin: 5px;
    color: #fff;
    font-size: 16px;
    background-color: #f2c010;
    border: none;
    outline: none;
    text-transform: uppercase;
    transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -o-transition: all .25s cubic-bezier(.455,.03,.515,.955);
}
.btnshop:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #282828;
    transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -o-transition: all .25s cubic-bezier(.455,.03,.515,.955);
}


/*=====================
HOME - Featured Boxes
======================*/
.featured {
    position: relative;
    padding: 50px 0;
}
.featured .fbox {
    position: relative;
    height: 350px;
}
.featured .fbox img {
    height: 100%;
    width: 100%;
    object-position: top;
    object-fit: cover;
}
.featured .fbox .finfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0px 16px;
    z-index: 9;
}
.featured .fbox:after {
    content: '';
    background: rgba(0,0,0,0.35);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.featured .fbox .finfo  h3 {
    color: #ffffff;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
}
.featured .fbox .finfo  p {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
}



/*=====================
HOME - Featured Product
======================*/
.sectiontitle {
    text-align: center;
    margin-bottom: 30px;
}
.sectiontitle .line{
    display: inline-block;
    height: 1px;
    width: 80px;
    background-color: #f2c010;
}
.sectiontitle h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #212121;
}
.sectiontitle .sub {
    font-style: italic;
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}
.featuredProduct {
    position: relative;
    padding: 50px 0 50px 0;
}
.featuredProduct .probox {
    position: relative;
    border: 1px solid #efefef;
    padding: 3px;
    border-radius: 4px;
}
.featuredProduct .probox:hover{
    border-color: rgba(128, 128, 128, 0.15);
    box-shadow: 0px 1px 10px 6px rgba(128, 128, 128, 0.15);
}
.featuredProduct .probox a {
    display: block;
    text-decoration: none;
}
.featuredProduct .probox .thumbnail{
    position: relative;
    height: 280px;
}
.featuredProduct .probox .thumbnail img{
    height: 100%;
    width: 100%;
    object-position: top;
    object-fit: cover;
}
.featuredProduct .proinfo {
    text-align: center;
    padding: 5px;
    height: 110px;
}
.featuredProduct .proinfo h4{
    font-size: 15px;
    color: #333;
    margin-bottom: 8px;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
} 
.featuredProduct .proinfo .price{
    font-size: 16px;
    margin-bottom: 5px;
} 
.featuredProduct .proinfo .price .discounted{
    display: inline-block;
    margin-right: 7px;
    text-decoration: line-through;
    color: #cccccc;
}
.featuredProduct .proinfo .price .sellprice{}
.featuredProduct .proinfo .rating {
    font-size: 11px;
    margin-bottom: 8px;
}
.featuredProduct .proinfo .rating i.fa{}
.featuredProduct .probox .thumbnail .sale {
    background-color: #f2c010;
    position: absolute;
    right: 5px;
    left: auto;
    top: 5px;
    color: #fff;
    min-height: 25px;
    line-height: 25px;
    padding: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    min-width: 45px;
    height: auto;
    clear: both;
    font-size: 13px !important;
    font-weight: normal;
    text-align: center;
}
.featuredProduct .metalinks{
    text-align: center;
    display: none;
    height: 110px;
    padding-top: 8px;
}
.featuredProduct .metalinks .icon{
    display: inline-block;
    background-color: #cccccc;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -o-transition: all .25s cubic-bezier(.455,.03,.515,.955);
}
.featuredProduct .metalinks .icon:hover {
    background-color: #f2c010;
    transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -o-transition: all .25s cubic-bezier(.455,.03,.515,.955);
}
.featuredProduct .metalinks .icon i.fa{
    color: #333;
}
.featuredProduct .metalinks .icon:hover i.fa{
    color: #ffffff;
}
.featuredProduct .probox:hover > .proinfo .prometa  {
    display: none;
}
.featuredProduct .probox:hover > .proinfo .metalinks  {
    display: block;
}



/*=====================
OUR TESTIMONIALS
====================*/
.testimonails{
    position: relative;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 400px;
    margin: 50px 0;
    padding: 50px 0 20px 0;
}
.testimonails .tbox {
    min-height: 180px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    width: 70%;
    display: inline-block;
    padding: 20px;
    position: relative;
    text-align: center;
}
.testimonails .tinfo {
    text-align: center;    
}
.testimonails .tbox:after {
    content: '';
    border: 1px solid #f2c010;
    position: absolute;
    width: 98%;
    height: 91%;
    left: 1%;
    top: 4%;
}
.testimonails .tbox .icomma {
    color: #f2c010;
    display: inherit;
    padding: 5px;
    font-size: 36px;
    position: absolute;
    left: 50%;
    top: 4px;
    transform: translate(-50%, -50%);
}
.testimonails .tbox .text {
    color: #444;
    font-size: 14px;
    position: relative;
    width: 100%;
    padding: 40px 40px;
    font-weight: 500;
    margin-bottom: 29px;
}
.testimonails .tuserinfo {
    text-align: center;
    position: relative;
    margin-top: -61px;
}
.testimonails .tuserinfo .avatar{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}
.testimonails .tuserinfo .avatar img{
    height: 100%;
    width: 100%;
    object-position: top;
    object-fit: cover;
}
.testimonails .tuserinfo h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 5px;
    text-align: center;
}
.testimonails .tuserinfo .trating {    
    text-align: center;
    font-size: 14px;
    color: #f2c010;
}
.testimonails .testimonailslider .item {
    padding-top: 15px;
}

/*=====================
Client Logo
====================*/
.clientlogo {
    position: relative;
    padding: 10px 0 50px 0;
}
.clientlogo .clientslider .owl-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.clientlogo .clientslider a{
    display: block;
    height: 110px;
}


/*=====================
FOOTER
====================*/
.footer{
    position: relative;
    background-color: #ffffff;    
    min-height: 300px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 40px 0;
}
.footer .fborder {
    /*border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding-top: 40px;
    padding-bottom: 40px;*/
}
.footer .footerbox {}
.footer .footerbox h3{
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}